{% extends "base.html" %}


{% block content %}
Lista posiadanych książek:

<ul>
    {% for book in book_list %}

    <li><a href="{% url 'shelf:book-detail' book.id %}">{{ book.title }} </a>
        -
        {% for author in book.author.all %}
        <a href="{% url 'shelf:author-detail' author.id %}">
            {{ author.first_name }} {{ author.last_name }}
        </a>
            {% if not forloop.last %} , {% endif %}
        {% endfor %}
    </li>
    {% endfor %}
</ul>
{% endblock %}


{% block footer %}
<div class="footer">
    Stopka redakcyjna dla książek...
</div>
{% endblock %}

